.lead__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;

  margin-top: 0;
  margin-bottom: 32px;

  text-align: center;

  color: #FFFFFF;
}
