.lead__subtitle{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto 0 auto;
  margin-bottom: 64px;
  color: #FFFFFF;
  width: 640px;

}
