.lead__subtitle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;

  text-align: center;

  margin-top: 0;
  margin-bottom: 64px;

  color: #FFFFFF;

}
