.cover__title{
  font-family: 'Inter';
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  z-index: 1;
  color: #fff;
  width: 560px;
  text-align: center;
  margin: 0;
}


@media screen and (max-width: 319px) {
  .cover__title{
    font-size: 32px;
    line-height: 109%;
    max-width: 240px;
    text-align: center;
  }

}

