.place{
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(352px, 484px);
  grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-template-areas:
  "place__title place__website"
  "place__image place__paragraphs";
  align-items: end;
  gap: 48px 40px;


}

@media screen and (max-width: 1279px) {
  .place:nth-of-type(2){
    margin-top: -10px;

  }

  .place:nth-of-type(5){
    margin-top: -10px;
  }
}


@media screen and (max-width: 1023px) {
  .place{
    column-gap: 28px;


  }

  .place:nth-of-type(2){
    margin-top: -7px;
  }

  .place:nth-of-type(3){
    margin-bottom: -5px;
  }

  .place:nth-of-type(4){
    margin-bottom: -26px;
  }

  .place:nth-of-type(5){
    margin-top: 0;
  }

}

@media screen and (max-width: 1023px) {
  .place{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 32px;
    grid-template-areas:
    "place__title"
    "place__website"
    "place__image"
    "place__paragraphs";
  }

  .place:nth-of-type(2){
    margin-top: -7px;

  }

  .place:nth-of-type(5){
    margin-top: 22px;
  }

  }

@media screen and (max-width: 767px) {
  .place:nth-of-type(3){
    margin-top: -7px;
  }

}

