.place__website{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 46px;
  grid-area: place__website;
}



@media screen and (max-width: 720px) {
  .place__website{
    margin-left: 16px;
  }

}

