.place__website-url{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #aaa;
  padding-bottom: 12px;


}

@media screen and (max-width: 767px) {
  .place__website-url{
    line-height: 100%;
  }

}
